<div class="container">
  <h1><%= @cat.first.name.capitalize %></h1> <a href="<%= @cat.first.name %>/create_post" > CREATE A POST </a><br><br>


  <% @posts.reverse.each do |item| %>
    <a href="/<%=@cat.first.name%>/<%= item.id %>"><%= item.title %></a>&nbsp&nbsp (Location: <%= item.location %>) 
    <br>
    <!-- <p><%= item.description %></p>
    <p>
      <br>
      Prizzzzze: <%= item.price %><br>
      Email: <%= item.email %></p> -->

  <br>
  <% end %>


<a href="/" > HOME </a>

</div>
