<div class="container">

  <h1><%= @item.title.capitalize %>  </h1>

   <!-- &nbsp is a standard space -->
    &nbsp&nbsp 
    <p> (Location: <%= @item.location %>) </p>
    <br>
    <p>Description: <%= @item.description %></p>
    <p>
      <br>
      Prizzzzze: <%= @item.price %><br>
      Email: <%= @item.email %>
    </p>

  <br>
   
  <a href="/" > HOME </a> <a href="<%= @item.id %>/edit" style="padding-left: 10px;">EDIT</a><a href="<%= @item.id %>/delete" style="padding-left: 10px;">DELETE</a>


</div>
